site_name: Fast
repo_url: https://github.com/jonatas/fast
edit_uri: edit/master/docs/
google_analytics: ['UA-125089529-1', 'auto']
theme:
  name: material
  palette:
    primary: indigo
    accent: pink
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
nav:
  - Introduction: index.md
  - Syntax: syntax.md
  - Experiments: experiments.md
  - Code Similarity: similarity_tutorial.md
